@import "src/themes/colors.module";

.root {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.loadMore {
  justify-content: center;
  background-color: $darkGray;
  display: flex;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1rem;
  user-select: none;
  align-items: center;
  width: 8rem;
  text-align: center;
}

.circularProgress {
  margin-left: 0.5rem
}
